.header-navbar {
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;

  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;

    & li {
      display: inline;
      font: normal 400 1.2rem/1.4rem "Inter";

      & a {
        text-decoration: none !important;
        transition: all 0.5s ease-out;
      }
    }

    &-active {
      padding: 0.5rem;
      color: white !important;
      border: 1px solid #3d7dca;
      background-color: #6892c5;
      border-radius: 8px;
    }
  }
}

.headerpage {
  color: white;
  font: normal 400 1.2rem/1.4rem "Inter";
  background-color: #76a6e0;
  text-align: center;
  padding: 1rem;
}
