.form-navbar {
  margin-top: 2rem;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  @include flex(center, center, 50px);
  border-bottom: 1px solid $White8;

  &-container {
    background-color: white;
    padding: 0.1rem;
  }

  & a {
    display: block;
    text-decoration: none;
    color: $Grey3;
    @include font(1.9rem, 2.2rem);
    margin: 1rem;
    padding: 1rem;
    &:hover {
      color: $Blue4;
      border: 0.5px solid $Blue4;
      border-radius: 5px;
    }
  }

  &-active {
    color: #3d7dca !important;
    border: 0.5px solid $Blue4;
    border-radius: 5px;
  }
}
