.form-navbar {
  margin-top: 2rem;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-bottom: 1px solid #bbbdc0;

  &-container {
    background-color: white;
    padding: 0.1rem;
  }

  & a {
    display: block;
    text-decoration: none;
    color: #858d97;
    font: normal 400 1.9rem/2.2rem "inter";
    margin: 1rem;
    padding: 1rem;
    &:hover {
      color: #3d7dca;
      border: 0.5px solid #3d7dca;
      border-radius: 5px;
    }
  }

  &-active {
    color: #3d7dca !important;
    border: 0.5px solid #3d7dca;
    border-radius: 5px;
  }
}
