.sidebar {
  position: fixed;
  background-color: white;
  margin: 20px;
  width: 350px;
  height: auto;
  border-radius: 5px;

  &-title {
    width: 100%;
    padding: 40px;
    border-bottom: solid rgb(217, 216, 216) 1px;

    & h2 {
      font: normal 400 1.2rem/1.4rem "Inter";
      font-size: 30px;
      margin-bottom: 20px;
      color: #3d7dca;
    }
  }

  &-list {
    & ul {
      width: 100%;
      padding: 0;
      margin: 0;
      & li {
        width: 100%;
        list-style: none;
        border-bottom: solid rgb(217, 216, 216) 1px;
        font: normal 400 1rem/1.3rem "Inter";

        & a {
          display: block;
          width: 100%;
          padding: 1rem 2rem;
          color: #6892c5;
          text-decoration: none;

          &:hover {
            background-color: #6892c5;
            color: white;
          }
        }
      }
    }

    &-active {
      background-color: #6892c5;
      color: white !important;
    }
  }
}
.sidebarBtn{

  & button{
    background-color:#6892c5;
    font: normal 400 1rem/1.3rem "Inter";
  }
  & a{
    display: block;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid rgb(217, 216, 216) ;
    padding: 1rem;
    font: normal 400 1rem/1.3rem "Inter";
    &:hover{
      background-color: #6892c5;
      color: white ;

    }
    }
  }
  .coursesSidebarBtn{
    background-color:#6892c5;
    font: normal 400 1rem/1.3rem "Inter";
    color: white;
    margin: 1rem;
    padding: 0.4rem;
    border: none;
    border-radius: 5px;
    &:hover{
      background-color:  rgb(217, 216, 216) ;
      color: black ;}

  }
