.popup {
  padding: 5rem;

  &-list {
    list-style: none;
    color: $Grey4;
    @include font(1rem, 1.3rem);
    & a {
      display: block;
      border-bottom: solid#EDE7E7 0.5px;
      padding: 2rem;
      text-decoration: none;
      &:hover {
        background-color: $Blue4;
        color: white;
      }
    }
  }

  &-title {
    color: $Blue4;
    @include font(2.5rem, 3rem);
    padding: 0.5rem;
  }

  &-close {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: $Blue1;
    border: 1px solid $Blue1;
    @include font(1.1rem, 1rem);
    color: white;
    padding: 0;

    &-error {
      background-color: red;
      border: 1px solid red;
    }
  }

  &-header {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  &-search {
    width: 90%;
    padding: 0.3rem;
    margin: 1rem;
    border: 1px solid #d9d9d9;
  }

  &-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-icon {
      font-size: 60px;
      color: $Blue2;
      text-align: center;
      &-error {
        color: red;
      }
    }
    &-title,
    &-text {
      text-align: center;
      color: black;
    }
    &-text {
      width: 80%;
      padding: 10px;
    }
    &-button {
      border: transparent;
      background-color: $Blue2;
      color: white;
      width: 90px;
      height: 35px;
      border-radius: 5px;
      &:hover {
        @include hover(green, red);
      }
      &-error {
        background-color: red;
        &:hover {
          @include hover(blue, white);
        }
      }
    }
  }
}
