.popup {
  padding: 5rem;

  &_list {
    list-style: none;
    color: $Grey4;
    @include font(1rem, 1.3rem);
    & a {
      display: block;
      border-bottom: solid#EDE7E7 0.5px;
      padding: 2rem;
      text-decoration: none;
      &:hover {
        background-color: $Blue4;
        color: white;
      }
    }
  }
  &_title {
    color: $Blue4;
    @include font(2.5rem, 3rem);
    padding: 2rem 2rem 0;
  }
  &_close {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: $Blue1;
    border: 1px solid $Blue1;
    @include font(1.2rem, 1.4rem);
    color: white;
    padding: 0;
  }
  &_header {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  & input {
    width: 90%;
    padding: 0.3rem;
    margin: 1rem;
    border: 1px solid #d9d9d9;
  }
}
