.customDropMenu {
  &-btn {
    @include colorandback(#3d7dca, #bbbdc01a);
    border: 1px solid#D9D9D9;
    width: 100%;
    @include font(1.7rem, 2rem);
    padding: 1rem;
    text-align: start;
    &::after {
      vertical-align: middle;
    }
  }
  &-list {
    padding: 0.4rem 0 !important;
    width: 100%;
    text-align: start;
    & a {
      padding: 1rem;
      @include font(1.2rem, 1.5rem);
    }
  }
}
