.progCourses {
  & button {
    @include colorandback(#3d7dca, #bbbdc01a);
    border: 1px solid#D9D9D9;
    width: 100%;
    text-align: start;
    @include font(1rem, 1.3rem);
    padding: 0.5rem 2rem;
    &::after {
      vertical-align: middle;
      margin: 0 0.4rem;
    }
  }
  &_menu {
    padding: 0.1rem !important;
    width: 100%;
    & input {
      margin: 0.5rem;
      width: 96%;
    }
    &_searchList {
      list-style: none;
      color: $Grey4;
      @include font(1rem, 1.3rem);
      max-height: 10rem;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 0;
      margin: 0;

      & a {
        padding: 1rem;
        border-bottom: solid $White3 0.5px;
        & div {
          display: grid;
          grid-template-columns: 20% 70%;
          gap: 10%;
          & span {
            display: flex;
          }
        }
      }

      & :hover {
        @include colorandback(white, $Blue4);
        cursor: pointer;
      }
    }
  }
}
