.form-card {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;

  & form {
    border-top: 1px solid $White5;
    border-bottom: 1px solid $White5;
    padding: 2rem;
    margin: 2rem;

    & label {
      @include font(1rem, 1.3rem);
      color: $Grey3;
    }
    & select {
      color: $Black2;
      @include font(1rem, 1.3rem);
    }
  }

  & h3 {
    color: $Grey3;
    @include font(2.5rem, 3rem);
    padding: 0rem 0 1rem 0;
  }

  &-button {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 2px;
    min-width: 5rem;
    @include font(1rem, 1.3rem);
    transition-duration: 0.4s;

    &-save {
      @include colorandback(white, $Blue2);
      border: 1px solid $Blue2;

      &:hover {
        @include colorandback(black, rgba(66, 66, 197, 0.753));
      }
    }

    &-cancel {
      @include colorandback($Black2, $White1);
      border: 1px solid $Grey2;

      &:hover {
        @include colorandback(white, $Grey2);
      }
    }

    &-delete {
      @include colorandback(black, rgb(232, 1, 1));
      border: 1px solid $Grey2;

      &:hover {
        color: white;
      }
    }
  }
}
