.form-card {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;

  & form {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 2rem;
    margin: 2rem;

    & label {
      font: normal 400 1rem/1.3rem "Inter";
      color: #858d97;
    }
    & select {
      color: #444444;
      font: normal 400 1rem/1.3rem "Inter";
    }
  }

  & h3 {
    color: #858d97;
    font: normal 400 2.5rem/3rem "Inter";
    padding: 0rem 0 1rem 0;
  }

  &-button {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 2px;
    min-width: 5rem;
    font: normal 400 1rem/1.3rem "Inter";
    transition-duration: 0.4s;

    &-save {
      color: white;
      background-color: #6892c5;
      border: 1px solid#6892C5;

      &:hover {
        background-color: rgba(66, 66, 197, 0.753);
        color: black;
      }
    }

    &-cancel { 
      color: #444444;
      background-color: #f8f8f9;
      border: 1px solid #a2aab4;

      &:hover {
        background-color: #a2aab4;
        color: white;
      }
    }

    &-delete {
      color: black;
      background-color: rgb(232, 1, 1);
      border: 1px solid #a2aab4;

      &:hover {
        color: white;
      }
    }
  }
}
