.tbl{
   &-header{
    color: #858D97;
    font:  normal 400 1.4rem/1.8rem "Inter";
    border-top:1px solid #D9D9D9 ;
    padding: 1.5rem !important;
   }
   &-items{
    color: #444444;
    font:  normal 400 1rem/1.3rem "Inter";
    padding: 1.5rem !important;
   }
   
}