.table-container {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;
  & h3 {
    color: $Grey3;
    @include font(2.5rem, 3rem);
    padding: 0rem 0 3rem 0;
  }
  & h4 {
    font: normal "Inter";
    color: $Grey3;
    padding: 0rem 0 1rem 0;
  }
  & table {
    table-layout: auto;

    .table-container {
      &-header {
        text-align: center;
        color: $Grey3;
        @include font(1.4rem, 1.8rem);
        border-top: 1px solid $White5;
        padding: 1.5rem !important;
      }
      &-items {
        text-align: center;
        color: $Black2;
        @include font(1rem, 1.3rem);
        padding: 1.5rem !important;
        &-button {
          border: none;
          background-color: white;
        }
        &-icon {
          font-size: 1.5rem;
          cursor: pointer;
        }
      }
    }
  }
}
