.registerationContainer {
  background-color: white;
  margin-top: 2.2rem;
  border-radius: 10px;
  & h1 {
    border-bottom: 1px solid $White5;
    color: $Grey3;
    @include font(2rem, 2.3rem);
    padding: 3rem;
  }

  &-body {
    display: grid;
    grid-template-columns: 40% 52%;
    gap: 8%;
    margin: 2rem;
  }

  &-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & h3 {
      color: $Blue4;
      @include font(1.5rem, 1.9rem);
    }
    &-search {
      border: 1px solid $White5;

      & input {
        border: none;
        padding: 1rem;
        width: 100%;

        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #cccc;
          font: normal 400 1rem/1.3rem "intern";
        }
      }
    }
    &-collapse {
      &-item {
        &:first-of-type {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        &:last-of-type {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      & button {
        border-radius: 0 !important;
        justify-content: space-between;
        &::after {
          margin-left: 0;
        }
        &:not(.collapsed),
        &:focus {
          box-shadow: none;
          background-color: #6892c5;
          color: white;
        }
      }
    }
    &-searchList {
      max-height: 30rem;
      overflow-y: scroll;
    }
    &-list {
      max-height: 13rem;
      overflow-y: scroll;
    }
    &-list,
    &-searchList {
      margin-top: 0.2rem;
      list-style: none;

      @include font(1rem, 1.3rem);
      color: $Grey3;
      li {
        padding: 1rem 3rem;
        border-bottom: solid $White5 1px;
      }
      li:hover {
        background-color: $Blue4;
        color: white;
        cursor: pointer;
      }
    }
  }
  &-form {
    border: 1px solid $White5;
    border-radius: 10px;
    max-height: 65rem;
    & h3 {
      border-bottom: 1px solid $White5;
      color: $Blue4;
      @include font(1.5rem, 1.9rem);
      padding: 1.5rem;
    }
    &-inputs {
      border-bottom: 1px solid $White5;
      padding: 2rem;
      @include font(1rem, 1.3rem);
      color: $Grey3;
    }
  }
}
.assignedPrograms,
.notAssignedPrograms {
  & button {
    justify-content: space-between;
    &::after {
      margin-left: 0;
    }
  }
}
