.skeleLoader {
  &-cont {
    background: white;
    padding: 2rem;
    border-radius: 2px;
    width: 62%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-nav {
    background: #76a6e0;
    height: 50px;
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 3rem 3rem;
  }
  &-list {
    background: white;
    padding: 2rem;
    border-radius: 2px;
    width: 25%;
  }
  &-span {
    padding: 50px;
  }
  &-load {
    background: #e6e6e6;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    margin: auto;
    background: linear-gradient(
      100deg,
      #e6e6e6 40%,
      rgb(240, 240, 240) 50%,
      #e6e6e6 60%
    );
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s load ease-in-out infinite;
  }
  &-spinner {
    position: relative;
    background: #e6e6e6;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(white, #e6e6e6);
    animation: rotate 1s linear infinite;
    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
    }
    &::before {
      width: 80px;
      height: 80px;
      top: 10px;
      left: 10px;
      background: white;
      border-radius: 50%;
    }
    &::after {
      height: 10px;
      width: 10px;
      background-color: #e6e6e6;
      top: 0;
      left: 45px;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes load {
  to {
    background-position-x: -30%;
  }
}
