.skeleLoader {
  &-nav {
    background: #76a6e0;
    height: 67px;
    text-align: center;
  }

  &-cont {
    width: 100vw;
    height: calc(100vh - 67px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
