.staffcont {
  margin-top: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  &-upperhalf {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background: #76a6e099;
    height: 17rem;
    &-img {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: space-between;
      & img {
        height: 100%;
      }
    }
    &-text {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -110%);
      width: 50%;
      padding-top: 6%;
      text-align: center;
      color: white;
      & h1 {
        font-size: 3vw;
      }
      & h2 {
        margin-top: 2%;
        font-size: 2vw;
      }
      & h3 {
        margin-top: 6%;
        font-size: 1vw;
      }
    }
  }

  // &-upperhalf {
  //   border-top-left-radius: 1rem;
  //   border-top-right-radius: 1rem;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   width: 100%;
  //   height: auto;
  //   min-height: 40%;
  //   &-text {
  //     width: 50%;
  //     padding-top: 6%;
  //     text-align: center;
  //     color: white;
  //     & h1 {
  //       font-size: 3vw;
  //     }
  //     & h2 {
  //       margin-top: 2%;
  //       font-size: 2vw;
  //     }
  //     & h3 {
  //       margin-top: 6%;
  //       font-size: 1vw;
  //     }
  //   }
  // }
  &-lowerhalf {
    background: white;
    height: 17rem;
    max-height: 50%;
    padding: 10% 5%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-card {
      background: #76a6e0;
      color: white;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 4rem;
      border-radius: 1rem;
      padding: 2%;
      width: 20%;
      height: 12rem;
      max-height: 250px;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      & h5 {
        padding-top: 15%;
        font-size: 1.2vw;
        transform: translateY(0px);
        transition: all 0.5s;
      }
      transition: 0.5s;
    }
    &-card:hover {
      border: 5px solid #76a6e0;
      margin-bottom: 2%;
      background-color: rgba(118, 166, 224, 0.6);
      & h5 {
        padding-top: 7%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .staffcont {
    &-upperhalf {
      height: 10rem;
      &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -170%);
      }
    }
    &-lowerhalf {
      height: 10rem;
      &-card {
        height: 7rem;
        max-height: 150px;
      }
    }
  }
}

@media (max-width: 500px) {
  .staffcont {
    &-upperhalf {
      height: 7rem;
      &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -240%);
      }
    }
    &-lowerhalf {
      height: 7rem;
      &-card {
        height: 5rem;
        max-height: 150px;
      }
    }
  }
}
