.studentBody {
  display: grid;
  grid-template-columns: 30% 65%;
  gap: 5%;
  margin: 2rem;
  &_students {
    border: 0.5px solid #dee2e6;
    border-radius: 10px;
    height: 30.5rem;

    & h3 {
      border-bottom: 1px solid #d9d9d9;
      color: #3d7dca;
      font: normal 400 1.9rem/2rem "intern";
      padding: 1.8rem;
      margin: 0;
      & span {
        display: block;
        color: #858d97;
        font: normal 400 1rem/1.3rem "intern";
      }
    }
    &_search {
      border-bottom: 1px solid #d9d9d9;

      & input {
        width: 100%;
        height: 3rem;
        border: none;
        padding: 1rem;

        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #cccc;
          font: normal 400 1rem/1.3rem "intern";
        }
      }
    }
    &_list {
      margin-top: 0.2rem;
      list-style: none;
      height: 20rem;
      overflow-y: scroll;

      li {
        border-bottom: solid #d9d9d9 1px;
        a {
          text-decoration: none;
          font: normal 400 1rem/1.3rem "intern";
          color: #858d97;
          display: block;
          padding: 1rem 3rem;
        }
      }
      li:hover {
        background-color: #3d7dca;
        cursor: pointer;
        a {
          color: white;
        }
      }
    }
  }
}
