.studentBody {
  display: grid;
  grid-template-columns: 30% 65%;

  gap: 5%;
  margin: 2rem;
  &_students {
    border: 0.5px solid #bbbdc0;
    border-radius: 10px;
    max-height: 20.2rem;
    &_alertBox {
      text-align: center;
      font: normal 400 2rem/2.3rem "inter";
      color: #858d97;
      padding: 2rem;
    }

    & h3 {
      border-bottom: 1px solid #d9d9d9;
      color: #3d7dca;
      font: normal 400 1.9rem/2rem "intern";
      padding: 2rem;
      margin: 0;
      & span {
        display: block;
        color: #858d97;
        font: normal 400 1rem/1.3rem "intern";
      }
    }
    &_search {
      border-bottom: 1px solid #d9d9d9;

      & input {
        border: none;
        padding-right: 1rem;

        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #cccc;
          font: normal 400 1rem/1.3rem "intern";
        }
      }
      & button {
        width: 36%;
        border: #d9d9d9;
        padding: 0.5rem;
        &:hover {
          background-color: grey;
        }
      }
    }
    &_list {
      margin-top: 0.2rem;
      list-style: none;
      max-height: 10rem;
      overflow-y: scroll;
      font: normal 400 1rem/1.3rem "intern";
      color: #858d97;
      li {
        padding: 1rem 3rem;
        border-bottom: solid #d9d9d9 1px;
      }
      li:hover {
        background-color: #3d7dca;
        color: white;
        cursor: pointer;
      }
    }
  }
}
