.sidebar {
  position: fixed;
  right: 0;
  background-color: rgb(200, 228, 228);
  margin: 0 20px 20px 20px;
  width: 350px;
  height: 800px;
  border-radius: 5px;
  overflow-x: hidden;

  &_data {
    display: flex;

    & div {
      & h5 {
        flex-direction: left;
        margin-top: 65px;
        color: blue;
      }

      & h6 {
        color: black;
      }
    }
  }

  &_list {
    width: 350px;

    li {
      list-style: none;
      padding: 1rem 2rem;
      border-bottom: solid rgb(165, 162, 162) 1px;
    }

    li:hover {
      background-color: aliceblue;
      color: grey;
    }
  }

  & img {
    flex-direction: left;
    width: 90px;
    height: 70px;
    margin: 30px;
    margin-top: 60px;
  }
}
